[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
requests = "*"
tweepy = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
celery = {extras = ["redis"]}
django-celery-results = "*"
django-celery-beat = "*"
lab-text-processing = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
