[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-decouple = "*"
requests = "*"
tweepy = "*"
django_compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
celery = {extras = ["redis"]}
django_celery_results = "*"
django_celery_beat = "*"
tweet-preprocessor = "*"
python-dateutil = "*"
django-colorfield = "*"
lxml = "*"
lab-text-processing = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
