// using name-that-color

$color-alabaster: #FBFBFB;
$color-mid-gray: #5f5d6b;
$color-gun-powder: #444251;
$color-tuna: #3C3A4A;
$color-raven: #737f8a;
$color-jacarta: #402c67;
$color-river-bed: #4b5864;
$color-cornflower-blue: #51A0F0;
$color-boston-blue: #4385c8;



$color-influencers-bar: linear-gradient(to right, $color-cornflower-blue 0%,$color-boston-blue 100%);
