/* Cards */
.card {
  position: relative;
  border: 0;
  @include border-radius(4px);
  background-color: transparent;

  &.-with-bg {
    background-color: $whiteopacity;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: $black;
    }

    &.-shadow {
      &::before {
        background: linear-gradient(transparent, $whiteopacity);
      }
    }
  }

  &.-shadow {
    &::before {
      content: '';
      background: linear-gradient(transparent, $darkbg);
      position: absolute;
      top: calc(100% - 6rem);
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      pointer-events: none;
    }
  }

  .header {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 2rem 2rem 1rem 2rem;
    z-index: 2;
  }

  .card-body {
    padding: $card-padding-y $card-padding-x;

    &.-with-header {
      position: relative;
      margin-top: 5rem;
      padding-top: 0;
    }

    + .card-body {
      padding-top: 0;
    }

    &.-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      @media (max-width: 991px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      & > * + * {
        margin-top: 3rem;

        @media (max-width: 991px) {
          margin-top: 0;
          margin-left: 2rem;
        }
      }
    }
  }

  &.card-outline-success {
    border: 1px solid theme-color("success");
  }

  &.card-outline-primary {
    border: 1px solid theme-color("primary");
  }

  &.card-outline-warning {
    border: 1px solid theme-color("warning");
  }

  &.card-outline-danger {
    border: 1px solid theme-color("danger");
  }

  &.card-rounded {
    @include border-radius(5px);
  }

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }

  &.card-circle-progress {
    color: $white;
    text-align: center;
  }
}
@each $color, $value in $theme-colors {
  .card-inverse-#{$color} {
    @include card-inverse-variant(rgba(theme-color($color), .2), theme-color-level($color, 1), theme-color-level($color, 3));
  }
}
