.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > .col {
    width: 50%;
  }

  & > .col.-left > .box:nth-child(1) {
    height: 45%;
  }

  & > .col.-left > .box:nth-child(2) {
    height: 33%;
  }

  & > .col.-left > .box:nth-child(3) {
    height: 22%;
  }

  & > .col.-right > .box {
    height: 33.33%;
  }

  & > .col > .box {
    box-sizing: border-box;
    width: 100%;
    min-height: 12rem;
    margin: 0;

    background-color: $color-raven;
  }

  & > .col > .box > .content {
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    background-color: inherit;
  }

  & > .col.-left > .box:nth-child(even),
  & > .col.-right > .box:nth-child(odd) {
    background-color: mix(#000, $color-raven, 5%);
  }

  & > .col > .box > .header {
    font-size: 1rem;
    font-weight: bold;

    padding: 1rem 2rem 0 1rem;

    text-transform: uppercase;
  }

  & > .col > .box > .header h1 {
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;

    text-transform: uppercase;

    color: #FFF;
  }

  & > .col > .box > .header h1::before {
    display: inline-block;

    width: .3rem;
    height: 1rem;
    margin-right: .5rem;

    content: '';

    background-color: $color-cornflower-blue;
  }
}
