.date-filter {
  $radius: .5rem;

  position: absolute;
  z-index: 1;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  transform: translateX(-50%);

  & > .prev,
  & > .next {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 .5rem;

    cursor: pointer;

    &.-disabled {
      color: $color-mid-gray;
    }
  }

  & > .date {
    position: relative;

    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 .75rem;

    cursor: pointer;

    color: #FFF;
  }

  & > .date:hover {
    & > .options {
      display: flex;
    }
  }

  & > .date > .options {
    position: absolute;
    top: calc(#{$nav-height} - .25rem);
    left: 50%;

    display: none;
    flex-direction: row;

    padding: 1.5rem;

    transform: translateX(-50%);

    border-radius: $radius;
    background-color: $color-alabaster;
  }

  & > .date > .options > * + * {
    margin-left: 1rem;
  }

  & > .date > .options > .button {
    min-width: 4rem;
    padding: .5rem 1.5rem;

    text-align: center;

    color: #FFF;
    border-radius: 1rem;
    background-color: $color-gun-powder;
  }

  & > .date > .options > .button:hover {
    background-color: $color-mid-gray;
  }
}
