.filter-wrapper {
  position: relative;

  overflow: hidden;

  width: 100%;
}

.filter-tag {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 2rem;
  padding: 0 1rem;

  cursor: default;
  transition: transform .3s $swift-out;
  transform: translateY(100%);

  background: lighten($color-gun-powder, 15%);

  &.-translated {
    transform: translateY(0);
  }

  & > * {
    cursor: pointer;
  }

  & > .clean {
    font-size: .8rem;
    font-weight: 700;

    margin-right: 1rem;
  }

  & > .clean,
  & > .tag {
    color: #FFF;

    &:hover {
      color: darken(#FFF, 10%);
    }
  }

  & > .tag {
    font-size: .8rem;
    font-weight: 700;

    margin-left: .5rem;
    padding: .2rem .7rem;

    border-radius: .5rem;

    &.-yellow {
      background-color: $color-ronchi;
    }

    &.-pink {
      background-color: $color-light-orchid;
    }

    &.-orange {
      background-color: $color-yellow-orange;
    }

    &.-blue {
      background-color: $color-cornflower-blue;
    }

    &.-purple {
      background-color: $color-jacarta;
    }
  }

  & > .tag > i {
    margin-right: .5rem;
  }
}
