.nav-menu {
  $radius: .5rem;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  width: 100%;
  height: $nav-height;
  padding: 0 1rem;

  transition: transform .3s $swift-out;
  transform: translateY(1rem);

  &.-translated {
    transition: transform .3s .5s $swift-out;
    transform: translateY(0);
  }

  & > * {
    color: #FFF;

    &:hover {
      color: darken(#FFF, 10%);
    }
  }

  & > .brand {
    font-size: 1.25rem;
    font-weight: 500;

    position: relative;
    z-index: 2;

    margin-right: 2rem;
  }
}
