.wordcloud-section {
  height: 30rem;

  .statistics {
    display: none;
  }

  .wordcloud-text {
    &.-unselected {
      fill: gray !important;
    }
  }

  .highcharts-background {
    fill: none !important;
  }
}

.wordcloud-section,
.top-section {
  .wrapper {
    overflow-y: auto;
    margin-top: 5rem;
    padding-top: 0;
  }

  .info-container {
    overflow-y: hidden;
  }

  .info-container .ticket-details {
    margin-left: 1rem;
  }

  .info-container h5 {
    text-transform: capitalize;
  }

  .tweets-back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    text-align: end;

    &.-hide {
      display: none;
    }
  }

  .content {
    display: flex;
    overflow-x: hidden;

    .profiles {
      transform: translateX(0);
      transition: transform 0.5s ease;

      &.-hide {
        transform: translateX(-110%);
      }
    }

    .tweets {
      transform: translateX(-100%);
      transition: transform 0.5s ease;

      &.-hide {
        transform: translateX(10%);
      }
    }
  }
}

#wordcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
