.section-main {
  display: grid;

  height: 100vh;

  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'nav            nav            nav'
  'links          wordcloud      chart'
  'links          wordcloud      chart'
  'hashtags       influencers    twitter'
  'hashtags       influencers    twitter'
  'mentions       influencers    twitter'
  ;

  .nav-bar {
    grid-area: nav;
  }

  .-chart {
    grid-area: chart;
  }

  .-mentions {
    grid-area: mentions;

    & > .header > h1::before {
      background-color: $color-yellow-orange;
    }
  }

  .-links {
    grid-area: links;

    & > .header > h1::before {
      background-color: $color-cornflower-blue;
    }
  }

  .-wordcloud {
    grid-area: wordcloud;

    & > .header > h1::before {
      background-color: $color-light-orchid;
    }
  }

  .-influencers {
    grid-area: influencers;

    & > .header > h1::before {
      background-color: $color-ronchi;
    }
  }

  .-hashtags {
    grid-area: hashtags;

    & > .header > h1::before {
      background-color: $color-jacarta;
    }
  }

  .top-tweets {
    grid-area: twitter;
  }

  & > .box {
    overflow: hidden;

    box-sizing: border-box;
    margin: 0;

    background-color: $color-raven;
  }

  & > .box > .content {
    position: relative;

    overflow: auto;

    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
    padding-bottom: 3rem;

    background-color: inherit;
  }

  & > .box.-wordcloud > .content,
  & > .box.-chart > .content {
    overflow: hidden;
  }

  & > .box:nth-child(even),
  & > .box:nth-child(odd) {
    background-color: mix(#000, $color-raven, 5%);
  }

  & > .box > .header {
    font-size: 1rem;
    font-weight: bold;

    padding: 1rem 2rem 0 1rem;

    text-transform: uppercase;
  }

  & > .box > .header h1 {
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;

    text-transform: uppercase;

    color: #FFF;
  }

  & > .box > .header h1::before {
    display: inline-block;

    width: .3rem;
    height: 1rem;
    margin-right: .5rem;

    content: '';
  }
}
