.section-main {
  display: grid;

  height: 100vh;

  grid-template-columns: minmax(250px, .8fr) minmax(250px, 1fr) minmax(250px, 1fr);
  grid-gap: 0.75rem;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1.25fr;
  grid-template-areas:
  'nav           nav            nav'
  'chart         wordcloud      links'
  'chart         wordcloud      links'
  'twitter       influencers    hashtags'
  'twitter       influencers    hashtags'
  'twitter       influencers    mentions'
  ;

  .nav-bar {
    grid-area: nav;
  }

  .-chart {
    grid-area: chart;
    background-color: $color-blackinho !important;
  }

  .-mentions {
    grid-area: mentions;

    & > .header > h1::before {
      background-color: $color-yellow-orange;
    }
  }

  .-links {
    grid-area: links;

    & > .header > h1::before {
      background-color: $color-cornflower-blue;
    }
  }

  .-wordcloud {
    grid-area: wordcloud;

    & > .header > h1::before {
      background-color: $color-light-orchid;
    }
  }

  .-influencers {
    grid-area: influencers;

    & > .header > h1::before {
      background-color: $color-ronchi;
    }
  }

  .-hashtags {
    grid-area: hashtags;

    & > .header > h1::before {
      background-color: $color-jacarta;
    }
  }

  .top-tweets {
    grid-area: twitter;
  }

  & > .box {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0;

    background-color: $color-raven;
    box-shadow: 0 10px 20px rgba(0,0,0,.09), 0 6px 6px rgba(0,0,0,.06);
  }

  & > .box > .content {
    position: relative;

    overflow: auto;

    box-sizing: border-box;
    height: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    padding-bottom: 1rem;

    background-color: inherit;
  }

  & > .box.-wordcloud > .content,
  & > .box.-chart > .content {
    overflow: hidden;
  }

  & > .box:nth-child(even),
  & > .box:nth-child(odd) {
    background-color: mix(#000, $color-raven, 5%);
  }

  & > .box > .header {
    font-size: 1rem;
    font-weight: bold;

    padding: 1rem 2rem 0 1rem;

    text-transform: uppercase;
  }

  & > .box > .header h1 {
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;

    text-transform: uppercase;

    color: #FFF;
  }

  & > .box > .header h1::before {
    display: inline-block;

    width: .3rem;
    height: 1rem;
    margin-right: .5rem;

    content: '';
  }
}
