.section-content {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  height: calc(100vh - #{$nav-height});

  & > .content-box {
    box-sizing: border-box;
    width: 75vw;
  }

  & > .side-bar {
    width: 25vw;
  }
}
