.side-bar {
  position: absolute;
  top: 0;
  right: 0;

  overflow: scroll;

  height: 100vh;
  margin-top: $nav-height;

  background-color: #FFF;

  & > .top-tweets {
    position: relative;
  }
}
