.top-mentions {
  display: flex;

  & > * + * {
    margin-left: 1rem;
  }

  & > .item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & > .item > img {
    width: 2.75rem;
    height: 2.75rem;
    object-fit: cover;

    border: 2px solid $color-tuna;
    border-radius: 50%;
  }

  & > .item > .value {
    font-size: 1.2rem;

    margin-top: .35rem;

    color: #FFF;
  }

  & > .item > span {
    font-size: .6rem;
    font-weight: bold;

    letter-spacing: .1rem;
    text-transform: uppercase;

    color: $color-tuna;
  }
}
