.twitter-verify {
  background-image: url('/static/images/twitter-verify.svg');
  background-size: contain;
  width: .8rem;
  height: .8rem;
  margin-left: .25rem;
  background-position: center;
  display: inline-block;
}
