.twitter-verify {
  display: inline-block;

  width: .8rem;
  height: .8rem;
  margin-left: .25rem;

  background-image: url('/static/images/twitter-verify.svg');
  background-position: center;
  background-size: contain;
}
