{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="/">
        Painel Social
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html">
        <img src="{% static "images/logo-mini.svg" %}" alt="logo" />
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
        <li class="nav-item dropdown show themes-menu">
          <a class="nav-link count-indicator dropdown-toggle" id="themes-dropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-elevation-rise"></i>Todos os Temas
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="themes-dropdown">
            <a class="dropdown-item preview-item">
              <a class="dropdown-item mt-2">
                Todos os Temas
              </a>
              <a class="dropdown-item">
                Aborto
              </a>
              <a class="dropdown-item">
                CCJ
              </a>
              <a class="dropdown-item">
                CPI e CPMI
              </a>
              <a class="dropdown-item">
                Cartórios
              </a>
              <a class="dropdown-item">
                Ciência e Tecnologia
              </a>
              <a class="dropdown-item">
                Comércio
              </a>
              <a class="dropdown-item">
                Contas Públicas
              </a>
              <a class="dropdown-item">
                Corrupção
              </a>
              <a class="dropdown-item">
                Desemprego
              </a>
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Olá, usuário</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item p-0">
              <div class="d-flex border-bottom">
                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                </div>
                <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                  <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                </div>
                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                </div>
              </div>
            </a>
            <a class="dropdown-item mt-2">
              Manage Accounts
            </a>
            <a class="dropdown-item">
              Change Password
            </a>
            <a class="dropdown-item">
              Check Inbox
            </a>
            <a class="dropdown-item">
              Sign Out
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        {% comment %}
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="chart-container">
                    <div id="graph-container" class="graph-container"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Total de Tweets</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">5.245</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-account-location text-info icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Total de Profiles</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">3.455</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-poll-box text-success icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Total de Temas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">5.693</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                </p>
              </div>
            </div>
          </div>
        </div>
        {% include "wordcloud-section.html" %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="row d-none d-sm-flex mb-4">
                  <div class="col-4">
                    <h5 class="text-primary">Unique Visitors</h5>
                    <p>34657</p>
                  </div>
                  <div class="col-4">
                    <h5 class="text-primary">Bounce Rate</h5>
                    <p>45673</p>
                  </div>
                  <div class="col-4">
                    <h5 class="text-primary">Active session</h5>
                    <p>45673</p>
                  </div>
                </div>
                <div class="chart-container">
                  <canvas id="dashboard-area-chart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 grid-margin">
            <div class="card">
              <div class="card-body top-five">
                <h5 class="card-title mb-4">Top Autores</h5>
                <div class="fluid-container">
                  {% with ''|center:10 as range %}
                  {% for _ in range %}
                    <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                      <div class="col-md-1">
                        <img class="img-sm rounded-circle mb-4 mb-md-0" src="{% static "images/faces/face1.jpg" %}" alt="profile image">
                      </div>
                      <div class="ticket-details col-md-9">
                        <div class="d-flex">
                          <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Fulano Beltrano<i class="twitter-verify"></i></p>
                          <p class="text-primary mr-1 mb-0"><a class="text-gray" href="https://twitter.com/${data.screen_name}">@fulano</a></p>
                        </div>
                        <p class="text-gray ellipsis mb-2">
                          <span class="font-weight-bold">299</span> seguidores
                        </p>
                        <div class="row text-gray">
                          <div class="col d-flex">
                            <p class="mr-2"><i class="mdi mdi-twitter-retweet"></i>120</p>
                            <p><i class="mdi mdi-heart"></i>48</p>
                          </div>
                        </div>
                        <div class="row text-gray">
                          <div class="col d-flex">
                            <small class="text-muted"><a href="">Ver 2 publicações</a></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 grid-margin">
            <div class="card">
              <div class="card-body top-five main-publications">
                <h5 class="card-title mb-4">Principais Publicações</h5>
                <div class="fluid-container">
                  {% with ''|center:10 as range %}
                  {% for _ in range %}
                    <a href="#" class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                      <div class="col-md-1">
                        <img class="img-sm rounded-circle mb-4 mb-md-0" src="{% static "images/faces/face1.jpg" %}" alt="profile image">
                      </div>
                      <div class="ticket-details col-md-9">
                        <div class="d-flex">
                          <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Fulano Beltrano<i class="twitter-verify"></i></p>
                          <p class="text-primary mr-1 mb-0 text-gray">@fulano</p>
                        </div>
                        <div class="row">
                          <div class="col d-flex">
                            <p class="mr-2">Especialistas contestam recomendações da CPI dos Cartões de Crédito, que acabou em pizza.</p>
                          </div>
                        </div>
                        <div class="row text-gray">
                          <div class="col d-flex">
                            <p class="mr-2"><i class="mdi mdi-twitter-retweet"></i>120</p>
                            <p><i class="mdi mdi-heart"></i>48</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex">
                            <button type="button" class="btn btn-inverse-secondary btn-rounded btn-fw">Comuniação</button>
                          </div>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="d-block mt-1 mt-sm-0 text-center">Desenvolvido por <a href="#">labhackercd</a>
          </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
{% endblock content %}
