{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 fixed-top d-flex flex-row">
    <div class="text-left navbar-brand-wrapper d-flex align-items-top">
      <a class="navbar-brand brand-logo" href="/">
        Painel Social
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-left header-links">
        <li class="nav-item dropdown js-category-select">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="js-category-title">{{ category.name|default:"Todos os Temas" }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item mt-2 js-category" data-category-id="0">
              Todos os Temas
            </a>
            {% for category in categories %}
              <a class="dropdown-item js-category" data-category-id="{{ category.id }}">
                {{ category.name }}
              </a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown date-menu">
          <span class="state dropdown-toggle js-title-date" id="dateDropdown" data-toggle="dropdown" aria-expanded="false"></span>
          <span class="prev"><i class="fa fa-angle-left"></i></span>
          <span class="next"><i class="fa fa-angle-right"></i></span>
          <div class="dropdown-menu navbar-dropdown dropdown" aria-labelledby="dateDropdown">
            <h4 class="text-dark">Selecione</h4>
            <div class="options js-filter-buttons">
              <button type="button" class="btn btn-primary btn-fw -day">Dia</button>
              <button type="button" class="btn btn-primary btn-fw -week">Semana</button>
              <button type="button" class="btn btn-primary btn-fw -month">Mês</button>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Olá, usuário</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item mt-2">
              Editar perfil
            </a>
            <a class="dropdown-item">
              Sair
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        {% comment %}
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="chart-container">
                    <div id="graph-container" class="graph-container"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}

        <div class="row">
          {% include "components/chart.html" %}
          {% include "components/statistics.html" %}

        </div>

        {% include "components/wordcloud-section.html" %}

        <div class="row">
          {% include "components/top-profiles.html" %}
          {% include "components/top-tweets.html" %}
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="d-block mt-1 mt-sm-0 text-center">Desenvolvido por <a href="#">labhackercd</a>
          </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
{% endblock content %}
