{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<main>
  {% include "components/nav-bar.html" %}
  <div class="section-content">
    <div class="content-box">
      <div class="col -left">
        <div class="box">
          <div class="header">
            <h1>Gráfico</h1>
          </div>
          <div class="content">
            {% include "components/chart.html" %}
          </div>
        </div>
        <div class="box">
          <div class="header">
            <h1>Principais links</h1>
          </div>
          <div class="content">
            {% include "components/top-links.html" %}
          </div>
        </div>
        <div class="box">
          <div class="header">
            <h1>Principais menções</h1>
          </div>
          <div class="content">
            {% include "components/main-mentions.html" %}
          </div>
        </div>
      </div>
      <div class="col -right">
        <div class="box">
          <div class="header">
            <h1>Termos mais frequentes</h1>
          </div>
          <div class="content">
            {% include "components/wordcloud-section.html" %}
          </div>
        </div>
        <div class="box">
          <div class="header">
            <h1>Principais influenciadores</h1>
          </div>
          <div class="content">
            {% include "components/main-influencers.html" %}
          </div>
        </div>
        <div class="box">
          <div class="header">
            <h1>Hashtags mais frequentes</h1>
          </div>
          <div class="content">
            {% include "components/frequent-hashtags.html" %}
          </div>
        </div>
      </div>
    </div>
    <div class="side-bar">
      {% include "components/top-tweets.html" %}
    </div>
  </div>
</main>
{% endblock content %}
