/* Miscellanoeous */

body,
html {
  overflow-x: hidden;

  padding-right: 0 !important; // resets padding right added by Bootstrap modal
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto !important;
}

.page-body-wrapper {
  min-height: calc(100vh - #{$navbar-height});
  padding-right: 0;
  padding-left: 0;

  @include display-flex();
  @include flex-direction(row);
  &:not(.auth-page) {
    padding-top: $navbar-height;
  }
  &.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
  }
}

.main-panel {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height});

  transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;

  @include display-flex();
  @include flex-direction(column);
  @media (max-width: 991px) {
    width: 100%;
    margin-left: 0;
  }
}

.content-wrapper {
  width: 100%;
  padding: 3.5rem 1.7rem;

  @include flex-grow(1);
}

.container-scroller {
  overflow: hidden;
}

.scroll-container {
  position: relative;
  &.horizontally {
    overflow-x: hidden;

    width: 100%;
    max-width: 100%;
  }
  &.vertically {
    overflow-y: hidden;

    height: 100%;
    max-height: 100%;
  }
}

pre {
  font-size: 14px;

  padding: 15px;

  background: color(gray-lighter);
}
