@import "components/loader";

h1,
h2,
h3,
h4,
h5,
p {
  color: $black;
}

body {
  background-color: #f2f8f9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.wordcloud-section {
  height: 30rem;

  .statistics {
    display: none;
  }

  .wordcloud-text {
    &.-unselected {
      fill: gray !important;
    }
  }

  .highcharts-background {
    fill: none !important;
  }
}

.wordcloud-section,
.top-profiles-section {
  .card-body {
    overflow-y: auto;
    margin-top: 5rem;
    padding-top: 0;
  }

  .card-profiles,
  .card-top-profiles {
    overflow-y: hidden;
  }

  .card-profiles .ticket-details,
  .card-top-profiles .ticket-details {
    margin-left: 1rem;
  }

  .card-profiles h5,
  .card-top-profiles h5 {
    text-transform: capitalize;
  }

  .tweets-back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    text-align: end;

    &.-hide {
      display: none;
    }
  }

  .data-container,
  .fluid-container {
    display: flex;
    overflow-x: hidden;

    .card-profiles,
    .card-top-profiles {
      transform: translateX(0);
      transition: transform 0.5s ease;

      &.-hide {
        transform: translateX(-110%);
      }
    }

    .card-tweets,
    .card-top-tweets {
      transform: translateX(-100%);
      transition: transform 0.5s ease;

      &.-hide {
        transform: translateX(10%);
      }
    }
  }
}
