@import "components/loader";

.wordcloud-section {
  height: 30rem;

  .wordcloud-text {
    &.-unselected {
      fill: gray !important;
    }
  }

  .card-cloud-profiles {
    overflow-y: scroll;
  }
}