<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row d-none d-sm-flex mb-4">
        <div class="col-4">
          <h5 class="chart-title"></h5>
        </div>
      </div>
      <div id="chart-loader" class="loading-wrapper">
        <div class="loading-text"></div>
        <div class="loading-content"></div>
      </div>
      <div class="chart-container">
        <canvas id="areaChart"></canvas>
      </div>
    </div>
  </div>
</div>
