<div class="col-md-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      {% comment %}
      <div class="row d-none d-sm-flex mb-4">
        <div class="col-4">
          <h5>Unique Visitors</h5>
          <p>34657</p>
        </div>
        <div class="col-4">
          <h5>Bounce Rate</h5>
          <p>45673</p>
        </div>
        <div class="col-4">
          <h5>Active session</h5>
          <p>45673</p>
        </div>
      </div>
      {% endcomment %}
      <div class="chart-container">
        <canvas id="areaChart"></canvas>
      </div>
    </div>
  </div>
</div>