<div class="main-influencers">
  <div class="list">
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="100"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="80"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="60"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
    <div class="item">
      <div class="user">
        <img src="https://pbs.twimg.com/profile_images/1029052084665163776/nGMfO5t8_normal.jpg" alt="profile image">
        <h4 class="name">Bolsonaro</h4>
      </div>
      <div class="bar">
        <progress max="100" value="40"></progress>
        <span class="value">237 tweets</span>
      </div>
    </div>
  </div>
</div>
