<nav class="nav-bar">
  <div class="nav-menu">
    <a href="/" class="item -brand">Painel Social</a>
    <div class="item -dropdown js-category-title">
      {{ category.name|default:"Todos os Temas" }}
      <div class="options">
        {% for category in categories %}
          <a class="item js-category" data-category-id="{{ category.id }}">
            {{ category.name }}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="item -dropdown -date js-title-date">
      Hoje
      <div class="options js-filter-buttons">
        <a class="button -day">Dia</a>
        <a class="button -week">Semana</a>
        <a class="button -month">Mês</a>
      </div>
    </div>

    <div class="item -prev js-offset-prev"><i class="fa fa-angle-left"></i></div>
    <div class="item -next js-offset-next"><i class="fa fa-angle-right"></i></div>

    <div class="filter-tag">
      <div class="clean js-clean-filters">Limpar</div>
      <div class="tag -yellow"><i class="fas fa-times"></i>Flamengo</div>
      <div class="tag -pink"><i class="fas fa-times"></i>Bolsonaro</div>
      <div class="tag -orange"><i class="fas fa-times"></i>Gooool</div>
      <div class="tag -blue"><i class="fas fa-times"></i>Neymar</div>
    </div>
  </div>
</nav>
