<nav class="nav-bar">
  <div class="nav-menu js-nav-menu">
    <a href="/" class="brand">Painel Social</a>
    <div class="category-filter js-category-title">
      Todos os temas
      <div class="options">
          <a class="item js-category" data-category-id="0">
            Todos os temas
          </a>
        {% for category in categories %}
          <a class="item js-category" data-category-id="{{ category.id }}">
            <span class="bar" style="background-color: {{category.color}}"></span>{{ category.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="category-filter js-category-title">
      Filtrar
      <div class="options">
        <a class="item js-filter-congressman" data-category-id="0">
          Relação com Deputados
        </a>
      </div>
    </div>

    <div class="date-filter">
      <div class="prev js-offset-prev"><i class="fa fa-angle-left"></i></div>
      <div class="date js-title-date">
        Hoje
        <div class="options js-filter-buttons">
          <a class="button -day">Dia</a>
          <a class="button -week">Semana</a>
          <a class="button -month">Mês</a>
        </div>
      </div>
      <div class="next js-offset-next"><i class="fa fa-angle-right"></i></div>
    </div>

  </div>
  <div class="filter-wrapper">
    <div class="filter-tag js-filter-tags">
      <div class="clean js-clean-filters">Limpar filtros</div>
    </div>
  </div>
</nav>
