<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 grid-margin">
  <div class="card card-statistics -with-bg grid-margin">
    <div class="card-body -info">
      <div class="item">
        <i class="text-primary fab fa-twitter fa-2x"></i>
        <p class="mb-0 mt-2">Total de Tweets</p>
        <h3 class="font-weight-medium mb-0 js-tweets-count"></h3>
      </div>
      <div class="item">
        <i class="text-warning fas fa-users fa-2x"></i>
        <p class="mb-0 mt-2">Total de Profiles</p>
        <h3 class="font-weight-medium mb-0 js-profiles-count"></h3>
      </div>
      <div class="item">
        <i class="text-info fas fa-chart-line fa-2x"></i>
        <p class="mb-0 mt-2">Variação</p>
        <h3 class="font-weight-medium text-left mb-0 js-variation"></h3>
      </div>
    </div>
  </div>
</div>
