<div class="top-statistics">
  <div class="item">
    <div class="icon">
      <i class="fab fa-twitter fa-2x"></i>
    </div>
    <div class="content">
      <p>Total de Tweets</p>
      <h3 class="js-tweets-count"></h3>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fas fa-users fa-2x"></i>
    </div>
    <div class="content">
      <p>Total de Profiles</p>
      <h3 class="js-profiles-count"></h3>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fas fa-chart-line fa-2x"></i>
    </div>
    <div class="content">
      <p>Variação</p>
      <h3 class="js-variation"></h3>
    </div>
  </div>
</div>
