<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 grid-margin">
  <div class="card -shadow">
    <div class="header">
      <h5>Top Autores</h5>
    </div>
    <div class="card-body -with-header top-five">
      <div class="fluid-container">
        {% for profile in top_profiles %}
          <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
            <div class="col-md-1">
              <img class="img-sm rounded-circle mb-4 mb-md-0" src="{{ profile.image_url }}" alt="profile image">
            </div>
            <div class="ticket-details col-md-9">
              <div class="d-flex">
                <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">{{ profile.name }}{% if profile.verified %}<i class="twitter-verify"></i>{% endif %}</p>
                <p class="text-primary mr-1 mb-0"><a class="text-gray" href="https://twitter.com/{{ profile.screen_name }}">@{{ profile.screen_name }}</a></p>
              </div>
              <p class="text-gray ellipsis mb-2">
                <span class="font-weight-bold">{{ profile.followers_count }}</span> seguidores
              </p>
              <div class="row text-gray">
                <div class="col d-flex">
                  <p class="mr-2"><i class="mdi mdi-twitter-retweet"></i>{{ profile.retweet_count }}</p>
                  <p><i class="mdi mdi-heart"></i>{{ profile.favorite_count }}</p>
                </div>
              </div>
              <div class="row text-gray">
                <div class="col d-flex">
                  <small class="text-muted"><a href="">Ver {{ profile.tweets.count }} publicações</a></small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
