<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 grid-margin">
  <div class="card -with-bg -shadow">
    <div class="header">
      <h5>Principais Publicações</h5>
    </div>
    <div class="card-body -with-header top-five main-publications ">
      <div id="top-publications-loader" class="loading-wrapper">
        <div class="loading-text"></div>
        <div class="loading-content"></div>
      </div>
      <div class="fluid-container content js-top-publications">
      </div>
    </div>
  </div>
</div>
