{% load staticfiles %}

<div class="wordcloud-section js-wordcloud-section">
  <div id="wordcloud-loader" class="loading-wrapper">
    <div class="loading-text"></div>
    <div class="loading-content"></div>
  </div>
  <div class="card-body" id="wordcloud-container"></div>
  <div class="card -with-bg -shadow info-container js-cloud-info-container">
    <div class="card-body wrapper js-cloud-wrapper -with-header">
      <div id="cloud-profile-loader" class="loading-wrapper">
        <div class="loading-text"></div>
        <div class="loading-content"></div>
      </div>
    </div>
  </div>
</div>
