* {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
  font-weight: 400;
  font-weight: inherit;
  font-style: inherit;

  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;

  appearance: none;

  &:focus {
    outline: 0;
  }
}

i {
  font-style: italic;
}
